<nav data-bs-theme="dark" class="navbar bg-primary navbar-expand-lg shadow p-2">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand text-light d-flex align-items-center">
      <img src="favicon.ico" alt="logo" width="50" height="50" />
      <span class="ms-1">YouTubeStats</span>
    </a>

    <div class="navbar-nav d-flex align-items-center justify-content-center">
      <a routerLink="/" class="nav-link">Home</a>
      <a routerLink="/channel/add" class="nav-link">Add Channels</a>
      <a routerLink="/channel/list" class="nav-link">Channel List</a>
      <a routerLink="/about" class="nav-link">About</a>
    </div>
  </div>
</nav>

<div class="container bg-light d-flex flex-column min-vh-100 shadow">
  <div class="my-4">
    <router-outlet></router-outlet>
  </div>
</div>
