<nav data-bs-theme="dark" class="navbar bg-secondary navbar-expand-lg p-2">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand text-light">
      <img src="favicon.ico" alt="logo" width="50" height="50">
      YouTubeStats
    </a>

    <div class="navbar-nav">
      <a routerLink="/" class="nav-link">Home</a>
      <a routerLink="/about" class="nav-link">About</a>
    </div>
  </div>
</nav>

<div class="container my-4 p-0 d-flex justify-content-center">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>