<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTubeStats</title>
</head>
<body>
<h1>Hello</h1>
<input id="resultInput">
<button onclick="askInfo()">Calculate and Display Result</button>
<input id="resultOutput">

<script>
    function askInfo() {
        var number = document.getElementById("resultInput").value;
        var request = new XMLHttpRequest();
        request.open("POST", "/askInfo", true);
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

        request.onreadystatechange = function () {
            if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {
                var answer = JSON.parse(request.responseText);
                document.getElementById("resultOutput").value = answer.result;
            }
        };

        request.send(JSON.stringify({ someNumber: number }));
    }
</script>
</body>
</html>